In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
465,tt1226753,20000000,45636368,The Debt,Helen Mirren|Sam Worthington|Jessica Chastain|...,John Madden,The secret is only the beginning,Rachel Singer is a former Mossad agent who tri...,113,Drama|Thriller,Miramax Films|Marv Films|Pioneer Pictures,4/11/2010,6.1,2010
89,tt1850457,30000000,105011053,Sisters,Tina Fey|Amy Poehler|John Leguizamo|Ike Barinh...,Jason Moore,Big sisters don't always know best.,Two disconnected sisters are summoned to clean...,118,Comedy,Little Stranger,12/18/2015,5.9,2015
39,tt1618442,90000000,140396650,The Last Witch Hunter,Vin Diesel|Rose Leslie|Michael Caine|Elijah Wo...,Breck Eisner,Hunt forever.,"The modern world holds many secrets, but by fa...",106,Fantasy|Action|Adventure,Summit Entertainment|Atmosphere Entertainment ...,10/21/2015,5.6,2015
242,tt0417741,250000000,933959197,Harry Potter and the Half-Blood Prince,Daniel Radcliffe|Rupert Grint|Emma Watson|Tom ...,David Yates,Dark Secrets Revealed,"As Harry begins his sixth year at Hogwarts, he...",153,Adventure|Fantasy|Family,Warner Bros.|Heyday Films,7/7/2009,7.3,2009
933,tt0265459,12000000,52223306,One Hour Photo,Robin Williams|Connie Nielsen|Michael Vartan|E...,Mark Romanek,The things that we fear the most have already ...,"Sy ""the photo guy"" Parrish has lovingly develo...",96,Horror|Thriller,Fox Searchlight Pictures|Catch 23 Entertainment,8/21/2002,6.4,2002

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [5]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
data['profit'] = data['revenue'] - data['budget']  # создаем столбец c прибылью

# приводим даты формату datetime64:
data['release_date'] = pd.to_datetime(data['release_date'])

# создаем столбец с месяцами выпуска фильмов:
data['release_month'] = data['release_date'].dt.month

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [6]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)' #  +
# если ответили верно, можете добавить комментарий со значком "+"

In [7]:
# тут пишем ваш код для решения данного вопроса:
data['budget'].sort_values(ascending=False).head()  # проверяем количество фильмов с макс.бюджетом

723     380000000
1669    300000000
14      280000000
1014    260000000
380     260000000
Name: budget, dtype: int64

In [8]:
# выводим информацию о фильме с макс.бюджетом методом .loc:
data.loc[(data['budget'] == data['budget'].max())][['imdb_id','original_title']]

       imdb_id                               original_title
723  tt1298650  Pirates of the Caribbean: On Stranger Tides

ВАРИАНТ 2

In [9]:
# выводим информацию о фильме с макс.бюджетом методом .sort_values:
data.sort_values(by='budget', ascending=False)[['imdb_id','original_title']].head(1)

       imdb_id                               original_title
723  tt1298650  Pirates of the Caribbean: On Stranger Tides

# 2. Какой из фильмов самый длительный (в минутах)?

In [10]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)' #  +

In [11]:
data['runtime'].sort_values(ascending=False).head()  # проверяем количество фильмов с макс.продолж.

1157    214
1081    201
1736    191
1336    187
504     183
Name: runtime, dtype: int64

In [12]:
# выводим информацию о фильме с макс.продолж. методом .loc:
data.loc[(data['runtime'] == data['runtime'].max())][['imdb_id','original_title']]

        imdb_id     original_title
1157  tt0279111  Gods and Generals

ВАРИАНТ 2

In [13]:
# выводим информацию о фильме с макс.продолж. методом .sort_values:
data.sort_values(by='runtime', ascending=False)[['imdb_id','original_title']].head(1)

        imdb_id     original_title
1157  tt0279111  Gods and Generals

# 3. Какой из фильмов самый короткий (в минутах)?

In [14]:
data['runtime'].sort_values(ascending=False).tail()  # проверяем количество фильмов с мин.продолж.

1408    76
1626    76
1097    72
930     72
768     63
Name: runtime, dtype: int64

In [15]:
# выводим информацию о фильме с мин.продолж. методом .loc:
data.loc[(data['runtime'] == data['runtime'].min())][['imdb_id','original_title']]

       imdb_id   original_title
768  tt1449283  Winnie the Pooh

ВАРИАНТ 2

In [16]:
# выводим информацию о фильме с мин.продолж. методом .sort_values:
data.sort_values(by='runtime', ascending=True)[['imdb_id','original_title']].head(1)

       imdb_id   original_title
768  tt1449283  Winnie the Pooh

In [17]:
answers['3'] = 'Winnie the Pooh (tt1449283)' #  +

# 4. Какова средняя длительность фильмов?

In [18]:
round(data['runtime'].mean(), 0)  # определяем среднее для колонки с длительностью и округляем

110.0

In [19]:
answers['4'] = '110'

# 5. Каково медианное значение длительности фильмов?

In [20]:
round(data['runtime'].median(), 0)  # определяем медиану для колонки с длительностью и округляем

107.0

In [21]:
answers['5'] = '107' #  +

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [22]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data['profit'] = data['revenue'] - data['budget']  # создаем колонку со значениями прибыли
data['profit'].sort_values(ascending=False).head()  # сортируем и проверяем содержание колонки

239    2544505847
3      1868178225
0      1363528810
4      1316249360
970    1299557910
Name: profit, dtype: int64

In [23]:
# выводим название и id фильма с максимальной прибылью методом .loc:
data.loc[(data['profit'] == data['profit'].max())][['imdb_id','original_title']]

       imdb_id original_title
239  tt0499549         Avatar

ВАРИАНТ 2

In [24]:
# выводим название и id фильма с максимальной прибылью методом .sort_values:
data.sort_values(by='profit', ascending=False)[['imdb_id','original_title']].head(1)

       imdb_id original_title
239  tt0499549         Avatar

In [25]:
answers['6'] = 'Avatar (tt0499549)' #  +

# 7. Какой фильм самый убыточный?

In [26]:
data['profit'].sort_values().head()  # сортируем и проверяем содержание колонки

1245   -165710090
1616   -119180039
809    -111007242
958     -92896027
1464    -84540684
Name: profit, dtype: int64

In [27]:
# выводим название и id фильма с мин. прибылью методом .loc:
data.loc[(data['profit'] == data['profit'].min())][['imdb_id','original_title']]

        imdb_id   original_title
1245  tt1210819  The Lone Ranger

ВАРИАНТ 2

In [28]:
# выводим название и id фильма с мин. прибылью методом .sort_values:
data.sort_values(by='profit', ascending=True)[['imdb_id','original_title']].head(1)

        imdb_id   original_title
1245  tt1210819  The Lone Ranger

In [29]:
answers['7'] = 'The Lone Ranger (tt1210819)' #  +

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [30]:
# проверяем условие на истинность. Количество True покажет ответ на вопрос:
(data['profit'] > 0).value_counts()

True     1478
False     411
Name: profit, dtype: int64

In [31]:
answers['8'] = '1478' #  +

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [32]:
df = data[(data['release_year'] == 2008)]  # отсеиваем фильмы не 2008 года выпуска

# выводим данные фильма с макс. прибылью методом .loc:
df.loc[(df['profit'] == df['profit'].max())][['imdb_id','original_title', 'release_year', 'profit']]

       imdb_id   original_title  release_year     profit
599  tt0468569  The Dark Knight          2008  816921825

ВАРИАНТ 2

In [33]:
# выводим данные фильма с макс. прибылью методом .sort_values:
df.sort_values(by='profit', ascending=False)[['imdb_id','original_title', 'release_year']].head(1)

       imdb_id   original_title  release_year
599  tt0468569  The Dark Knight          2008

In [34]:
answers['9'] = 'The Dark Knight (tt0468569)' #  +

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [35]:
# отсеиваем фильмы за пределами периода 2012-2014 года выпуска:
df = data[(2012 <= data['release_year']) & ( data['release_year'] <= 2014)]

# выводим данные фильма с мин. прибылью методом .loc:
df.loc[(df['profit'] == df['profit'].min())][['imdb_id','original_title', 'release_year', 'profit']]

        imdb_id   original_title  release_year     profit
1245  tt1210819  The Lone Ranger          2013 -165710090

ВАРИАНТ 2

In [36]:
# выводим данные фильма с мин. прибылью методом .sort_values:
df.sort_values(by='profit', ascending=True)[['imdb_id','original_title', 'release_year']].head(1)

        imdb_id   original_title  release_year
1245  tt1210819  The Lone Ranger          2013

In [37]:
answers['10'] = 'The Lone Ranger (tt1210819)' #  +

# 11. Какого жанра фильмов больше всего?

In [38]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
data11 = data.copy()  # создаем копию исходного датафрейма
data11['genres'] = data11.genres.str.split('|')  # разбиваем перечень жанров по '|'

# создаем дубликаты строк для каждого жанра из исх.перечня, считаем количество повторов
# жанра в колонке и выводим имеющий максимальное количество:
data11.explode('genres').genres.value_counts().idxmax()  #

'Drama'

In [39]:
answers['11'] = 'Drama' #  +

ВАРИАНТ 2

In [40]:
# совсем не питоновский вариант, но использующий многое из пройденного материала

data111 = data.copy()  # создаем копию исходного датафрейма

# переводим в список жанры, перечисленные через '|':
genres = list(data111.genres.apply(lambda x: x.split('|')))


def flat(l):
    '''создаем рекурсивную функцию перевода двухуровнего списка в одноуровневый'''
    if not l:
        return l
    if type(l[0]) is list:  # если элемент списка является списком,

        # то к его содержимому прибавляем содержимое поседующих элементов:
        return flat(l[0]) + flat(l[1:])

    # если нет, то к элементу, который не явлется списком, добавляем
    # содержимое поседующих элементов:
    return l[:1] + flat(l[1:])


genres_flat = flat(genres)

Counter(genres_flat)  # создаем словарь жанров с количеством повторений каждого, выбираем максимальное

Counter({'Action': 582,
         'Adventure': 415,
         'Science Fiction': 248,
         'Thriller': 596,
         'Fantasy': 222,
         'Crime': 315,
         'Western': 19,
         'Drama': 782,
         'Family': 260,
         'Animation': 139,
         'Comedy': 683,
         'Mystery': 168,
         'Romance': 308,
         'War': 58,
         'History': 62,
         'Music': 64,
         'Horror': 176,
         'Documentary': 8,
         'Foreign': 2})

In [41]:
# т.к. все элементы - это списки, то можно так:
l = []
for x in range(0, len(genres)-1, 2):
    l_tmp = genres[x] + genres[x+1]
    l += l_tmp

Counter(l)

Counter({'Action': 582,
         'Adventure': 415,
         'Science Fiction': 248,
         'Thriller': 595,
         'Fantasy': 222,
         'Crime': 315,
         'Western': 19,
         'Drama': 782,
         'Family': 260,
         'Animation': 139,
         'Comedy': 683,
         'Mystery': 168,
         'Romance': 308,
         'War': 58,
         'History': 62,
         'Music': 64,
         'Horror': 176,
         'Documentary': 8,
         'Foreign': 2})

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [42]:
data12 = data.copy()  # создаем копию исходного датафрейма
data12 = data12[(data12.profit > 0)]  # отсеиваем убыточные

# разбиваем перечни жанров в ячейках, дублируем строки отдельно для каждого жанра, считаем количество
# повторений и выводим жанр с максимальным:
data12.genres.str.split('|').explode('genres').value_counts().idxmax()

'Drama'

In [43]:
answers['12'] = 'Drama' #  +

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [44]:
# группируем датафрейм по колонке "режиссер", суммируем для каждого 
# режиссера выручку и выводим того, у кого сумма максимальна:
data.groupby(['director']).revenue.sum().idxmax()

'Peter Jackson'

In [45]:
answers['13'] = 'Peter Jackson' #  +

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [46]:
data14 = data.copy()  # создаем копию исходного датафрейма
data14['genres'] = data14.genres.str.split('|')  # разбиваем перечни жанров
data14 = data14.explode('genres')  # дублируем строки по жанрам
data14 = data14[data14.genres.str.contains('Action',na=False)]  # оставляем строки с жанром 'Action'
data14['director'] = data14.director.str.split('|')  # разбиваем перечни режиссеров

# дублируем строки для каждого режиссера, группируем, считаем количество и
# выводим режиссера с максимальным результатом:
data14.explode('director').groupby(['director']).genres.count().idxmax()

'Robert Rodriguez'

In [47]:
answers['14'] = 'Robert Rodriguez' #  +

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [48]:
data15 = data.copy()  # создаем копию исходного датафрейма
data15 = data15[(data15.release_year == 2012)]  # отсекаем все годы, кроме 2012
data15.cast = data15.cast.str.split('|')  # разбиваем перечни актеров

# дублируем строки для каждого актера, группируем, считаем сум.выручку и 
# выводим актера с максимальным результатом:
data15.explode('cast').groupby(['cast']).revenue.sum().idxmax()

'Chris Hemsworth'

In [49]:
answers['15'] = 'Chris Hemsworth' #  +

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [50]:
data16 = data.copy()  # создаем копию исходного датафрейма
data16 = data16[(data16.budget > data16.budget.mean())]  # отсеиваем фильмы с бюджетом ниже среднего
data16 = data16.cast.str.split('|')  # разбиваем перечни актеров

# дублируем строки для каждого актера, считаем количество появлений каждого актера в столбце
# и выводим актера с максимальным количеством:
data16.explode('cast').value_counts().idxmax()

'Matt Damon'

In [51]:
answers['16'] = 'Matt Damon' #  +

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [52]:
data17 = data.copy()  # создаем копию исходного датафрейма
data17.cast = data17.cast.str.split('|')  # разбиваем перечни актеров
data17 = data17.explode('cast')  # дублируем строки для каждого актера
data17 = data17[data17.cast.str.contains('Nicolas Cage')]  # оставляем строки, где есть Кейдж
data17 = data17.genres.str.split('|')  # разбиваем перечни жанров

# дублируем строки для каждого жанра, считаем количество появлений каждого жанра в столбце
# и выводим жанр с максимальным количеством:
data17.explode('genres').value_counts().idxmax()

'Action'

In [53]:
answers['17'] = 'Action' #  +

# 18. Самый убыточный фильм от Paramount Pictures

In [54]:
data18 = data.copy()  # создаем копию исходного датафрейма
data18.production_companies = data18.production_companies.str.split('|')  # разбиваем перечни компаний
data18 = data18.explode('production_companies')  # дублируем строки для каждой компании

# оставляем строки, где есть Парамаунт:
data18 = data18[data18.production_companies.str.contains('Paramount Pictures')]

# находим строку с минимальной прибылью и выводим название фильма:
data18[(data18.profit == data18.profit.min())]['original_title']

925    K-19: The Widowmaker
Name: original_title, dtype: object

In [55]:
answers['18'] = 'K-19: The Widowmaker' #  +

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [56]:
# группируем по году выпуска, суммируем выручку за год по всем, выводим год с макс. значением:
data.groupby(['release_year']).revenue.sum().idxmax()

2015

In [57]:
answers['19'] = '2015' #  +

# 20. Какой самый прибыльный год для студии Warner Bros?

In [58]:
data20 = data.copy()  # создаем копию исходного датафрейма
data20.production_companies = data20.production_companies.str.split('|')  # разбиваем перечни компаний
data20 = data20.explode('production_companies')  # дублируем строки для каждой компании

# оставляем строки, где есть Варнер Брос:
data20 = data20[data20.production_companies.str.contains('Warner Bros')]

# группируем по году выпуска, считаем суммарную прибыль и выводим год с максимальным значением:
data20.groupby(['release_year']).profit.sum().idxmax()

2014

In [59]:
answers['20'] = '2014' #  +

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [60]:
data21 = data.copy()  # создаем копию исходного датафрейма

# считаем количество вхождений для каждого месяца и выводим номер месяца с максимальным значением:
data21.release_month.value_counts().idxmax()

9

In [61]:
answers['21'] = 'Сентябрь' #  +

### Вариант 2

In [62]:
# можно посчитать с пом. счетчика и сортировки методом .most_common():
Counter(data21.release_month).most_common()

[(9, 227),
 (12, 190),
 (10, 186),
 (8, 161),
 (3, 156),
 (4, 149),
 (6, 147),
 (11, 146),
 (7, 142),
 (5, 140),
 (2, 135),
 (1, 110)]

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [63]:
data22 = data.copy()  # создаем копию исходного датафрейма

# выделяем диапазон с летними месяцами, считаем суммарное количество в этом диапазоне:
data22[(5 < data22.release_month) & (data22.release_month < 9)].value_counts().sum()

450

In [64]:
answers['22'] = '450' #  +

# 23. Для какого режиссера зима – самое продуктивное время года?

In [65]:
data23 = data.copy()  # создаем копию исходного датафрейма

# делаем выборку для диапазона с зимними месяцами:
df = data23[(11 < data23.release_month) | (data23.release_month < 3)]

# группируем по режиссеру, считаем количество созданных каждым фильмов,
# выводим того, у кого получилось максимальное значение:
df.groupby(['director']).original_title.count().idxmax()

'Peter Jackson'

In [66]:
answers['23'] = 'Peter Jackson' #  +

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [67]:
data24 = data.copy()  # создаем копию исходного датафрейма
data24.production_companies = data24.production_companies.str.split('|')  # разбиваем перечни компаний
data24 = data24.explode('production_companies')  # дублируем строки для каждой компании

# создаем столбец с длиной названия фильма, убираем пробелы, считаем длину строки:
data24['len_original_title'] = data24['original_title'].str.replace(' ', '').str.len()

# группируем дата фрейм по компании, считаем средние длины названий, выводим компанию
# с максимальным значением средней длины фильма:
data24.groupby(['production_companies']).len_original_title.mean().idxmax()

'Four By Two Productions'

In [68]:
answers['24'] = 'Four By Two Productions' #  +

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [69]:
data25 = data.copy()  # создаем копию исходного датафрейма
data25.production_companies = data25.production_companies.str.split('|')  # разбиваем перечни компаний
data25 = data25.explode('production_companies')  # дублируем строки для каждой компании
data25.overview = data25.overview.str.split(' ')  # разбиваем описание по пробелам
data25['len_overview'] = data24['overview'].str.len() # создаем столбец с количеством слов в названии

# группируем по компаниям, счтаем среднюю длину слов, выводим компанию с самым длинными названиями:
data25.groupby(['production_companies']).len_overview.mean().idxmax()

'Midnight Picture Show'

In [70]:
answers['25'] = 'Midnight Picture Show' #  +

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [71]:
data26 = data.copy()  # создаем копию исходного датафрейма
pd.options.display.max_colwidth = 100    # меняем ширину столбца, чтобы видеть название целиком

# сортируем по рейтингу по убыванию, выводим 19 (1%) фильмов с лучшим рейтингом:
data26.sort_values(by='vote_average', ascending=False)['original_title'][:19]

599                                   The Dark Knight
118                                      Interstellar
125                                The Imitation Game
9                                          Inside Out
34                                               Room
1183                          The Wolf of Wall Street
128                                         Gone Girl
1191                                 12 Years a Slave
119                           Guardians of the Galaxy
1081    The Lord of the Rings: The Return of the King
1800                                          Memento
370                                         Inception
872                                       The Pianist
138                          The Grand Budapest Hotel
1188                                              Her
28                                          Spotlight
124                                        Big Hero 6
177                            The Fault in Our Stars
863             The Lord of the Rings: The Two Towers
Name: original_title, dtype: object

In [72]:
answers['26'] = 'The Dark Knight, Inside Out, 12 Years a Slave' #  +

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [73]:
import itertools as it  # импортируем библиотеку itertools

data27 = data.copy()  # создаем копию исходного датафрейма
data27.cast = data27.cast.str.split('|')  # разбиваем перечни актеров

# наполняем столбец актеров уникальными парными комбинациями: 
data27.cast = data27.cast.apply(lambda x: list(it.combinations(x, 2)))

# дублируем строки для каждой комбинации, находим самые часто встречающиеся в столбце:
data27.explode('cast').cast.mode()

0     (Daniel Radcliffe, Emma Watson)
1    (Daniel Radcliffe, Rupert Grint)
dtype: object

In [74]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint' #  +

вариант 2

In [75]:
import statistics as st  # импортируем библиотеку statistics


data271 = data.copy()  # создаем копию исходного датафрейма
d = []  # создаем пустой список
d = data271.cast.str.split('|')  # заносим в этот список перечни актеров
l = []  # создаем пустой список


def comb(row):
    '''создаем фукнцию формирования уникальных парных комбинаций актеров'''
    for z in range(len(d)):  # цикл прогоняет строки (1889 шт.)
        for i in range(len(d[z])):  # цикл прогоняет элементы списков из строк

            # цикл добавляет пару каждому элементу. 1+i дает сдвиг для первой пары
            # и не дает сделать пару из элемента самого с собой:
            for j in range(1+i, len(d[z])):
                l_tmp = (d[z][i] + ' & ' + d[z][j])
                l.append(l_tmp)
    return l

comb(d)   
st.mode(l)  # определяем наиболее часто встречающуюся пару

'Daniel Radcliffe & Rupert Grint'

# Submission

In [76]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'The Dark Knight, Inside Out, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [77]:
# и убедиться что ни чего не пропустил)
len(answers)

27